body {
	height: 1000px;
}


li {
	color: #000000;
	display: inline-block;
	margin-left: 50px;
	margin-top: 20px;
}
ul {
	display: inline-block;
}
.code {
	width: 32px;
	height: 13px;
}
.code-1 {
	width: 59px;
	height: 13px;
}
.code-2 {
	width: 49px;
	height: 13px;
}
.code-3 {
	width: 50px;
	height: 13px;
}
.picture {
	width: 43px;
	height: 43px;
	display: inline-block;
	margin-left: 60px;
	margin-top: 20px;
}
div {
	display: inline-block;
}
h1 {
	font-size: 24px;
	width: 120px;
	height: 28px;
	margin-top: 20px;
	margin-left: 50px;
	color: #000000;
}
div.parent-relative {
	position: relative;
	width: 362px;
	height: 357px;
	top: 30px;
	margin-left: 10px;
}
p.child-absolute {
	position: absolute;
	top: 32px;
	left: 42px;
	color: #FFFFFF;
}
.tag-1 {
	background: #FFFFFF;
}
.tag-2 {
	color: #8A8787;
	width: 238px;
	height: 36px;
	margin-top: 10px;
	margin-left: 26px;
} 
.picture-2 {
	
	margin-top: 40px;
	margin-left: 20px;
}
.tag-3 {
	margin-left: 10px;
	color: #8A8787;
	display: inline-block;
}
div.par-relative {
	position: relative;
	width: 362px;
	height: 357px;
	margin-top: 30px;
	margin-left: 10px;
}
p.kid-absolute {
	position: absolute;
	color: #FFFFFF;
	margin-top: -142px;
	margin-left: 42px;
}
div.paren4-relative {
	position: relative;
	width: 362px;
	height: 357px;
	margin-top: 30px;
	margin-left: 30px;
}
p.children-absolute {
	position: absolute;
	color: #FFFFFF;
	margin-top: -142px;
	margin-left: 42px;
}
h2 {
	width: 196px;
	height: 28px;
	color: #000000;
	margin-left: 30px;
	margin-top: 20px;
	font-size: 20px;
}

div.parent2-relative {
	position: relative;
	top: 30px;
	margin-left: 10px;
	display: inline-block;
}
p.kid8-absolute {
	position: absolute;
	color: #FFFFFF;
	margin-top: -220px;
    margin-left: 270px;
}

div.parent-3 {
	margin-top: 30px;
}
.some1 {

}
.some2 {
	display: inline-block;
	margin-top: 20px;
	
}
.something {
	display: inline-block;
}
.room {
	display: inline-block;
}
.game-position-relative {
	position: relative;
	width: 1440px;
	height: 201px;
	background: #243043;
}
.children19-absolute {
	position: absolute;
	width: 38px;
	height: 40px;
	margin-left: 1150px;
	margin-top: 70px;
}
.toy {
	width: 33px;
	height: 14px;
	top: 1088px;
	left: -583px;

	color: #818687;
}
.toy_2 {
	width: 30px;
    margin-top: -15px;
    margin-left: 150px;
	color: #818687;
}
.toy_3 {
	width: 30px;
	margin-left: 300px;
    margin-top: -140px;
}
.toy_5 {
	margin-left: 550px;
    margin-top: -60px;
    color: #FFFFFF;
}