li {
	color: #000000;
	display: inline-block;
	margin-left: 50px;
	margin-top: 20px;
}
ul {
	display: inline-block;
}
.code {
	width: 32px;
	height: 13px;
}
.code-1 {
	width: 59px;
	height: 13px;
}
.code-2 {
	width: 49px;
	height: 13px;
}
.code-3 {
	width: 50px;
	height: 13px;
}
.picture {
	width: 43px;
	height: 43px;
	display: inline-block;
	margin-left: 60px;
	margin-top: 20px;
}
